{erl_opts, [debug_info
           ,warn_export_vars
           ,warn_unused_import
           ,warn_untyped_record
           ,warnings_as_errors
           ]}.

{cover_enabled, false}.

{profiles, [{test, [{plugins, [rebar3_proper]}
                   ,{deps, [{proper,
                             {git, "https://github.com/manopapad/proper.git",
                              {branch, "master"}}}
                           ]}
                   ]}
           ]}.
